@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 450px;
  border-radius: 25px;
  background-color: rgb(228, 226, 226);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* display section */

.display {
  height: 55%;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-container {
  height: 82%;
  width: 82%;
  border-radius: 8px;
  border: 2px solid black;
  background: url(https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fG11c2ljfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid rgb(0, 183, 255);
}

.navbar {
  width: 100%;
  background-color: rgba(180, 179, 179, 0.2);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
  font-size: 0.7rem;
  /* font-weight: 600; */
  color: rgb(0, 183, 255);
}

.navbar div i {
  padding-right: 5px;
}

.menu {
  width: 60%;
  height: 91.5%;
  background-color: white;
}

.menu header {
  font-size: 1.3rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 900;
  padding: 5px;
  color: rgb(0, 183, 255);
  background-color: black;
  border-bottom: 2px solid rgb(0, 183, 255);
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  text-transform: capitalize;
  padding: 5px 10px;
  text-align: left;
  color: rgb(0, 183, 255);
  border-bottom: 1px solid rgb(228, 226, 226);
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul li .menu-name {
  font-size: 0.8rem;
}

.menu ul li .menu-icon {
  width: 20px;
}

.menu ul li .menu-icon img {
  width: 100%;
  object-fit: contain;
}

.active {
  background-color: rgb(228, 226, 226);
  font-weight: 900;
}

.menu ul li:last-child {
  border-bottom: none;
}

/* button control section */
.buttons {
  height: 45%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 25px;
  position: relative;
}

.controls {
  position: absolute;
  border-radius: 50%;
  border: 50px solid white;
  width: 70%;
  height: 85%;
  background-color: gray;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

button {
  position: absolute;
  color: rgb(0, 183, 255);
  border: none;
  background-color: transparent;
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 1px;
}

button:last-child {
  height: fit-content;
  width: fit-content;
  border-radius: 0;
}

button:last-child:hover {
  box-shadow: none;
  background-color: transparent;
  text-decoration: underline;
}

button:hover {
  background-color: rgb(228, 226, 226);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.left {
  right: 89px;
  top: 23px;
  box-shadow: none;
}

.right {
  left: 89px;
  top: 23px;
  box-shadow: none;
}

.top {
  left: 14px;
  bottom: 84px;
  text-transform: uppercase;
  box-shadow: none;
}

.bottom {
  top: 81px;
  left: 25px;
  box-shadow: none;
}

.okBtn {
  position: relative;
  height: 35%;
  width: 30%;
  background-color: gray;
  border-radius: 50%;
  /* left: 10px; */
  top: 51px;
  display: grid;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  cursor: pointer;
}

/* reflection */
#reflect {
  -webkit-box-reflect: below 2px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
}


/* single page */
.page {
  height: 91%;
  width: 100%;
  display: grid;
  place-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-img {
  height: 90px;
}

.page-img img {
  height: 100%;
  object-fit: contain;
}

.CoverFlow {
  color: black;
  font-size: 1.5rem;
  margin-top: 0;
}

p {
  color: white;
  font-size: 1.8rem;
  text-shadow: 0 0 3px #FF0000;
  margin-top: 80px;
}


/* songs */
.music {
  height: 91%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.musicBg {
  filter: blur(1px);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

}

.musicDetails {
  position: absolute;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100px;
}

.musicIcon {
  height: 90px;
  border: 1px solid rgb(0, 183, 255);
  margin-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 10px;
}

.musicIcon img {
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.musicName {
  /* font-size: 0.9rem; */
  color: rgb(0, 183, 255);
  text-shadow: 0 0 1px black;
  font-family: 'Lilita One', cursive;
}

.musicBar {
  position: absolute;
  top: 130px;
  width: 90%;
}

.musicBar .range input {
  width: 100%;
  accent-color: rgb(0, 183, 255);
}

input[type=range]::-webkit-slider-thumb {
  height: 50px;
  width: 50px;
  color: red;
  background-color: blue;
  cursor: ew-resize;
}

.timeDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 183, 255);
  font-size: 0.7rem;
  font-weight: 900;
}